<a href="https://colab.research.google.com/github/fmathews11/College_Basketball_Functions/blob/main/Getting_Schedules.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install kenpompy
!pip install mechanicalsoup
import mechanicalsoup,pandas as pd,numpy as np, warnings,seaborn as sns, matplotlib.pyplot as plt, requests
from bs4 import BeautifulSoup
import warnings
warnings.filterwarnings("ignore")
from google.colab import output
output.clear()

In [11]:
ids = pd.read_csv('https://raw.githubusercontent.com/fmathews11/College_Basketball_Functions/main/ids.csv')

def get_schedule(team):

  current_season = '2022-23'
  url = "https://www.espn.com/mens-college-basketball/team/schedule/_/id/"

  if team not in ids.team.unique().tolist():
    raise ValueError("Invalid Team Name")

  team_link = ids[ids.team == team].link.item()
  team_id = str(ids[ids.team == team].id.item())
  url = url + team_id + "/" + team_link


 # Initial Get Request and splliting the raw HTML by gameId 
  r = requests.get(url).text
  test = r.split('gameId')

  # Cleaning and organizing resulting dataframe
  dfs = pd.read_html(url)
  df= dfs[0]
  df.columns = df.iloc[1,:].tolist()
  things_to_avoid = ['Canceled','Postponed']
  #df = df[~df.RESULT.isin(things_to_avoid)]
  df = df.iloc[2:,[0,1]]
  df = df[df.DATE != 'DATE']
  df['GAME_ID'] = [test[i][1:10] for i in range(1,len(df)+1)]
  df.OPPONENT = df.OPPONENT.str.replace("*","")
  df.OPPONENT = df.OPPONENT.str.replace("\d","")
  df.OPPONENT = df.OPPONENT.str.replace('vs','')
  
  return df

In [12]:
get_schedule("Wisconsin")

           DATE           OPPONENT    GAME_ID
2    Mon, Nov 7       South Dakota  401483420
3   Fri, Nov 11          Stanford   401483421
4   Tue, Nov 15          Green Bay  401483422
5   Wed, Nov 23            Dayton   401483423
6   Tue, Nov 29        Wake Forest  401479676
7    Sat, Dec 3        @ Marquette  401483424
8    Tue, Dec 6           Maryland  401484837
9   Sun, Dec 11             @ Iowa  401484844
10  Thu, Dec 15             Lehigh  401483425
11  Fri, Dec 23          Grambling  401483426
12  Fri, Dec 30   Western Michigan  401483427
13   Tue, Jan 3          Minnesota  401484871
14   Sat, Jan 7        @  Illinois  401484877
15  Tue, Jan 10     Michigan State  401484885
16  Sat, Jan 14         @  Indiana  401484892
17  Tue, Jan 17         Penn State  401484898
18  Sat, Jan 21     @ Northwestern  401484907
19  Wed, Jan 25         @ Maryland  401484914
20  Sat, Jan 28           Illinois  401484918
21   Thu, Feb 2       @ Ohio State  401484930
22   Sun, Feb 5       Northwestern  401484936
23   Wed, Feb 8       @ Penn State  401484941
24  Sat, Feb 11         @ Nebraska  401484948
25  Tue, Feb 14           Michigan  401484953
26  Sat, Feb 18            Rutgers  401484962
27  Wed, Feb 22               Iowa  401484967
28  Sun, Feb 26        @  Michigan  401484977
29   Thu, Mar 2             Purdue  401484985
30   Sun, Mar 5        @ Minnesota  401484990