<a href="https://colab.research.google.com/github/fmathews11/College_Basketball_Functions/blob/main/Getting_Schedules.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
!pip install kenpompy
!pip install mechanicalsoup
import mechanicalsoup,pandas as pd,numpy as np, warnings,seaborn as sns, matplotlib.pyplot as plt, requests
from bs4 import BeautifulSoup
import warnings
warnings.filterwarnings("ignore")
from google.colab import output
output.clear()

In [6]:
ids = pd.read_csv('https://raw.githubusercontent.com/fmathews11/College_Basketball_Functions/main/ids.csv')

def get_schedule(team,season = '2021-22'):

  current_season = '2021-22'
  url = "https://www.espn.com/mens-college-basketball/team/schedule/_/id/"

  if team not in ids.team.unique().tolist():
    raise ValueError("Invalid Team Name")

  if season == current_season:
    team_link = ids[ids.team == team].link.item()
    team_id = str(ids[ids.team == team].id.item())
    url = url + team_id + "/" + team_link

  #else:
    #To add

 # Initial Get Request and splliting the raw HTML by gameId 
  r = requests.get(url).text
  test = r.split('gameId')

  # Cleaning and organizing resulting dataframe
  dfs = pd.read_html(url)
  df= dfs[0]
  df.columns = df.iloc[1,:].tolist()
  things_to_avoid = ['Canceled','Postponed']
  df = df[~df.RESULT.isin(things_to_avoid)]
  df = df.iloc[2:,[0,1]]
  df = df[df.DATE != 'DATE']
  df['GAME_ID'] = [test[i][1:10] for i in range(1,len(df)+1)]
  df.OPPONENT = df.OPPONENT.str.replace("*","")
  df.OPPONENT = df.OPPONENT.str.replace("\d","")
  df.OPPONENT = df.OPPONENT.str.replace('vs','')
  
  return df

In [7]:
get_schedule("Wisconsin")

           DATE            OPPONENT    GAME_ID
2    Tue, Nov 9   St. Francis (BKN)  401372172
3   Fri, Nov 12           Green Bay  401372173
4   Mon, Nov 15          Providence  401372007
5   Mon, Nov 22          Texas A&M   401369810
6   Tue, Nov 23            Houston   401376724
7   Wed, Nov 24       Saint Mary's   401376728
8    Wed, Dec 1      @ Georgia Tech  401369894
9    Sat, Dec 4           Marquette  401372004
10   Wed, Dec 8             Indiana  401364349
11  Sat, Dec 11       @  Ohio State  401364354
12  Wed, Dec 15            Nicholls  401372174
14  Wed, Dec 29      Illinois State  401372176
15   Mon, Jan 3           @  Purdue  401364360
16   Thu, Jan 6                Iowa  401364364
17   Sun, Jan 9          @ Maryland  401364372
18  Thu, Jan 13          Ohio State  401364379
19  Tue, Jan 18      @ Northwestern  401364389
20  Fri, Jan 21      Michigan State  401364394
21  Thu, Jan 27          @ Nebraska  401364402
22  Sun, Jan 30           Minnesota  401364411
23   Wed, Feb 2         @  Illinois  401364418
24   Sat, Feb 5          Penn State  401364424
25   Tue, Feb 8   @  Michigan State  401364429
26  Sat, Feb 12             Rutgers  401364437
27  Tue, Feb 15           @ Indiana  401364443
28  Sun, Feb 20            Michigan  401364451
29  Wed, Feb 23         @ Minnesota  401364457
30  Sat, Feb 26           @ Rutgers  401364463
32   Tue, Mar 1              Purdue  401364469
33   Sun, Mar 6            Nebraska  401364480