<a href="https://colab.research.google.com/github/fmathews11/College_Basketball_Functions/blob/main/Getting_Schedules.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install kenpompy
!pip install mechanicalsoup
import mechanicalsoup,pandas as pd,numpy as np, warnings,seaborn as sns, matplotlib.pyplot as plt, requests
from bs4 import BeautifulSoup
import warnings
warnings.filterwarnings("ignore")

In [ ]:
ids = pd.read_csv('https://raw.githubusercontent.com/fmathews11/College_Basketball_Functions/main/ids.csv')
ids

               team    id                        link
0    Abil Christian  2000  abilene-christian-wildcats
1         Air Force  2005           air-force-falcons
2             Akron  2006                  akron-zips
3           Alabama   333        alabama-crimson-tide
4       Alabama A&M  2010         alabama-am-bulldogs
..              ...   ...                         ...
356    Wright State  2750           wright-st-raiders
357         Wyoming  2751             wyoming-cowboys
358          Xavier  2752           xavier-musketeers
359            Yale    43               yale-bulldogs
360   Youngstown St  2754      youngstown-st-penguins

[361 rows x 3 columns]

In [ ]:
current_season = '2021-22'
season = current_season
team = "Rutgers"
url = "https://www.espn.com/mens-college-basketball/team/schedule/_/id/"

if season == current_season:
  team_link = ids[ids.team == team].link.item()
  team_id = str(ids[ids.team == team].id.item())
  url = url + team_id + "/" + team_link
  print(url)

https://www.espn.com/mens-college-basketball/team/schedule/_/id/164/rutgers-scarlet-knights

In [ ]:
browser = mechanicalsoup.StatefulBrowser()
current_season = '2021-22'
season = current_season
team = "Clemson"
url = "https://www.espn.com/mens-college-basketball/team/schedule/_/id/"
if season == current_season:
  team_link = ids[ids.team == team].link.item()
  team_id = str(ids[ids.team == team].id.item())
  url = url + team_id + "/" + team_link
browser.open(url)
test = str(browser.get_current_page())
test.split('gameID')[0]

In [ ]:
r = requests.get(url).text
test = r.split('gameId')
dfs = pd.read_html(url)
df= dfs[0]
df.columns = df.iloc[1,:].tolist()
things_to_avoid = ['Canceled','Postponed']
df = df[~df.RESULT.isin(things_to_avoid)]
df = df.iloc[2:,[0,1]]
df = df[df.DATE != 'DATE']
df['GAME_ID'] = [test[i][1:10] for i in range(1,len(df)+1)]
df

In [ ]:
test = r.split('gameId')
for i in range (1,len(df)+1):
  print(test[i][1:11])

NameError: ignored

In [ ]:
dfs = pd.read_html(url)
df= dfs[0]
df.columns = df.iloc[1,:].tolist()
things_to_avoid = ['Canceled','Postponed']
df = df[~df.RESULT.isin(things_to_avoid)]
df = df.iloc[2:,[0,1]]
df = df[df.DATE != 'DATE']
df['GAME_ID'] = [test[i][1:10] for i in range(1,len(df)+1)]
df

           DATE                 OPPONENT    GAME_ID
2    Tue, Nov 9          vs Presbyterian  401369925
3   Fri, Nov 12               vs Wofford  401369926
4   Mon, Nov 15                vs Bryant  401369927
5   Thu, Nov 18              vs Temple *  401365886
6   Fri, Nov 19  vs 22 St. Bonaventure *  401377051
7   Sun, Nov 21       vs West Virginia *  401377054
8   Fri, Nov 26   vs Charleston Southern  401369928
9   Tue, Nov 30                @ Rutgers  401369929
10   Sat, Dec 4                  @ Miami  401370078
11  Sat, Dec 11               vs Drake *  401369930
12  Tue, Dec 14            vs Miami (OH)  401369931
13  Sat, Dec 18        vs South Carolina  401369932
14  Wed, Dec 22               @ Virginia  401370045
16   Tue, Jan 4              vs Virginia  401369934
17   Sat, Jan 8               @ NC State  401370104
18  Wed, Jan 12             @ Notre Dame  401369970
19  Sat, Jan 15        vs Boston College  401369935
20  Tue, Jan 18               @ Syracuse  401370011
21  Sat, Jan 22            vs Pittsburgh  401369936
22  Tue, Jan 25                 @ 9 Duke  401369865
23   Wed, Feb 2         vs Florida State  401369937
24   Sat, Feb 5           @ Georgia Tech  401369905
25   Tue, Feb 8        vs North Carolina  401369938
26  Thu, Feb 10                vs 7 Duke  401408050
27  Sat, Feb 12            vs Notre Dame  401369939
28  Tue, Feb 15          @ Florida State  401369886
30  Sat, Feb 19             @ Louisville  401370120
31  Wed, Feb 23           vs Wake Forest  401369940
32  Sat, Feb 26         @ Boston College  401369923
33   Wed, Mar 2          vs Georgia Tech  401369941
34   Sat, Mar 5         vs Virginia Tech  401369942

In [ ]:
def get_schedule(team,season = '2021-22'):

  current_season = '2021-22'
  url = "https://www.espn.com/mens-college-basketball/team/schedule/_/id/"

  if team not in ids.team.unique().tolist():
    raise ValueError("Invalid Team Name")

  if season == current_season:
    team_link = ids[ids.team == team].link.item()
    team_id = str(ids[ids.team == team].id.item())
    url = url + team_id + "/" + team_link

  #else:
    #To add

 # Initial Get Request and splliting the raw HTML by gameId 
  r = requests.get(url).text
  test = r.split('gameId')

  # Cleaning and organizing resulting dataframe
  dfs = pd.read_html(url)
  df= dfs[0]
  df.columns = df.iloc[1,:].tolist()
  things_to_avoid = ['Canceled','Postponed']
  df = df[~df.RESULT.isin(things_to_avoid)]
  df = df.iloc[2:,[0,1]]
  df = df[df.DATE != 'DATE']
  df['GAME_ID'] = [test[i][1:10] for i in range(1,len(df)+1)]
  df.OPPONENT = df.OPPONENT.str.replace("*","")
  df.OPPONENT = df.OPPONENT.str.replace("\d","")
  df.OPPONENT = df.OPPONENT.str.replace('vs','')
  
  return df

In [ ]:
get_schedule("Clemson")

           DATE              OPPONENT    GAME_ID
2    Tue, Nov 9          Presbyterian  401369925
3   Fri, Nov 12               Wofford  401369926
4   Mon, Nov 15                Bryant  401369927
5   Thu, Nov 18               Temple   401365886
6   Fri, Nov 19      St. Bonaventure   401377051
7   Sun, Nov 21        West Virginia   401377054
8   Fri, Nov 26   Charleston Southern  401369928
9   Tue, Nov 30             @ Rutgers  401369929
10   Sat, Dec 4               @ Miami  401370078
11  Sat, Dec 11                Drake   401369930
12  Tue, Dec 14            Miami (OH)  401369931
13  Sat, Dec 18        South Carolina  401369932
14  Wed, Dec 22            @ Virginia  401370045
16   Tue, Jan 4              Virginia  401369934
17   Sat, Jan 8            @ NC State  401370104
18  Wed, Jan 12          @ Notre Dame  401369970
19  Sat, Jan 15        Boston College  401369935
20  Tue, Jan 18            @ Syracuse  401370011
21  Sat, Jan 22            Pittsburgh  401369936
22  Tue, Jan 25               @  Duke  401369865
23   Wed, Feb 2         Florida State  401369937
24   Sat, Feb 5        @ Georgia Tech  401369905
25   Tue, Feb 8        North Carolina  401369938
26  Thu, Feb 10                  Duke  401408050
27  Sat, Feb 12            Notre Dame  401369939
28  Tue, Feb 15       @ Florida State  401369886
30  Sat, Feb 19          @ Louisville  401370120
31  Wed, Feb 23           Wake Forest  401369940
32  Sat, Feb 26      @ Boston College  401369923
33   Wed, Mar 2          Georgia Tech  401369941
34   Sat, Mar 5         Virginia Tech  401369942

In [ ]:
df = get_schedule('Michigan')
df.OPPONENT = df.OPPONENT.str.replace("\d","")
df.OPPONENT = df.OPPONENT.str.replace('vs','')
df

           DATE            OPPONENT    GAME_ID
2   Wed, Nov 10             Buffalo  401364997
3   Sat, Nov 13   Prairie View A&M   401372133
4   Tue, Nov 16          Seton Hall  401372019
5   Sat, Nov 20               UNLV   401370151
6   Sun, Nov 21            Arizona   401377059
7   Wed, Nov 24            Tarleton  401372134
8    Wed, Dec 1    @ North Carolina  401369947
9    Sat, Dec 4     San Diego State  401372135
10   Tue, Dec 7          @ Nebraska  401364348
11  Sat, Dec 11           Minnesota  401364352
12  Sat, Dec 18       Southern Utah  401372136
14  Thu, Dec 30               @ UCF  401371947
15   Tue, Jan 4           @ Rutgers  401364361
18  Fri, Jan 14         @  Illinois  401364380
19  Tue, Jan 18            Maryland  401364388
20  Sun, Jan 23           @ Indiana  401364398
21  Wed, Jan 26        Northwestern  401364403
22  Sat, Jan 29   @  Michigan State  401364409
23   Tue, Feb 1            Nebraska  401364415
24   Sat, Feb 5           @  Purdue  401364421
26   Tue, Feb 8        @ Penn State  401364428
27  Thu, Feb 10              Purdue  401409769
28  Sat, Feb 12          Ohio State  401364435
29  Thu, Feb 17              @ Iowa  401364446
30  Sun, Feb 20        @  Wisconsin  401364451
31  Wed, Feb 23             Rutgers  401364456
32  Sun, Feb 27            Illinois  401364464
33   Tue, Mar 1      Michigan State  401412488
34   Thu, Mar 3                Iowa  401364472
35   Sun, Mar 6       @  Ohio State  401364478