<a href="https://colab.research.google.com/github/fmathews11/College_Basketball_Functions/blob/main/Getting_Schedules.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [43]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
#from kenpompy.utils import login
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [45]:
ids = pd.read_csv('https://raw.githubusercontent.com/fmathews11/College_Basketball_Functions/main/ids.csv')
ids

               team    id                        link
0    Abil Christian  2000  abilene-christian-wildcats
1         Air Force  2005           air-force-falcons
2             Akron  2006                  akron-zips
3           Alabama   333        alabama-crimson-tide
4       Alabama A&M  2010         alabama-am-bulldogs
..              ...   ...                         ...
356    Wright State  2750           wright-st-raiders
357         Wyoming  2751             wyoming-cowboys
358          Xavier  2752           xavier-musketeers
359            Yale    43               yale-bulldogs
360   Youngstown St  2754      youngstown-st-penguins

[361 rows x 3 columns]

In [46]:
current_season = '2021-22'
season = current_season
team = "Purdue"
url = "https://www.espn.com/mens-college-basketball/team/schedule/_/id/"

if season == current_season:
  team_link = ids[ids.team == team].link.item()
  team_id = str(ids[ids.team == team].id.item())
  url = url + team_id + "/" + team_link
  print(url)

https://www.espn.com/mens-college-basketball/team/schedule/_/id/2509/purdue-boilermakers

In [ ]:
r = requests.get(url).text
soup = BeautifulSoup(r,'lxml')
r

In [34]:
test = r.split('gameId')
for i in range (1,len(df)+1):
  print(test[i][1:11])

401369133"
401372164"
401372165"
401369819"
401377064"
401365606"
401369875"
401364342"
401364351"
401370100"
401371950"
401372166"
401372167"
401364360"
401364369"
401364381"
401364387"
401364392"
401364399"
401364406"
401364412"
401364417"
401364421"
401364432"
401409769"
401364438"
401364445"
401364452"
401364462"
401364469"
401364475"
401377749"

In [42]:
dfs = pd.read_html(url)
df= dfs[0]
df.columns = df.iloc[1,:].tolist()
df = df[df.RESULT != 'Postponed']
df = df.iloc[2:,[0,1]]
df = df[df.DATE != 'DATE']
df['GAME_ID'] = [test[i][1:10] for i in range(1,len(df)+1)]
df

           DATE                OPPONENT    GAME_ID
2    Tue, Nov 9           vs Bellarmine  401369133
3   Fri, Nov 12        vs Indiana State  401372164
4   Tue, Nov 16         vs Wright State  401372165
5   Sat, Nov 20  vs 18 North Carolina *  401369819
6   Sun, Nov 21        vs 5 Villanova *  401377064
7   Fri, Nov 26                vs Omaha  401365606
8   Tue, Nov 30        vs Florida State  401369875
9    Fri, Dec 3                 vs Iowa  401364342
10   Thu, Dec 9               @ Rutgers  401364351
11  Sun, Dec 12           vs NC State *  401370100
12  Sat, Dec 18             vs Butler *  401371950
13  Mon, Dec 20       vs Incarnate Word  401372166
14  Wed, Dec 29             vs Nicholls  401372167
15   Mon, Jan 3         vs 23 Wisconsin  401364360
16   Sat, Jan 8            @ Penn State  401364369
18  Fri, Jan 14             vs Nebraska  401364381
19  Mon, Jan 17           @ 17 Illinois  401364387
20  Thu, Jan 20               @ Indiana  401364392
21  Sun, Jan 23         vs Northwestern  401364399
22  Thu, Jan 27                  @ Iowa  401364406
23  Sun, Jan 30        vs 16 Ohio State  401364412
24   Wed, Feb 2             @ Minnesota  401364417
25   Sat, Feb 5             vs Michigan  401364421
27   Tue, Feb 8          vs 18 Illinois  401364432
28  Thu, Feb 10              @ Michigan  401409769
29  Sun, Feb 13             vs Maryland  401364438
30  Wed, Feb 16          @ Northwestern  401364445
31  Sun, Feb 20              vs Rutgers  401364452
32  Sat, Feb 26     @ 13 Michigan State  401364462
33   Tue, Mar 1          @ 11 Wisconsin  401364469
34   Sat, Mar 5              vs Indiana  401364475

In [41]:
dfs[0]

              DATE                OPPONENT  ...      Hi Assists             NaN
0   Regular Season          Regular Season  ...  Regular Season  Regular Season
1             DATE                OPPONENT  ...      Hi Assists             NaN
2       Tue, Nov 9           vs Bellarmine  ...      Thompson 4             NaN
3      Fri, Nov 12        vs Indiana State  ...          Ivey 4             NaN
4      Tue, Nov 16         vs Wright State  ...    Hunter Jr. 4             NaN
5      Sat, Nov 20  vs 18 North Carolina *  ...    Stefanovic 8             NaN
6      Sun, Nov 21        vs 5 Villanova *  ...          Ivey 7             NaN
7      Fri, Nov 26                vs Omaha  ...    Stefanovic 5             NaN
8      Tue, Nov 30        vs Florida State  ...    Stefanovic 8             NaN
9       Fri, Dec 3                 vs Iowa  ...      Williams 3             NaN
10      Thu, Dec 9               @ Rutgers  ...          Ivey 3             NaN
11     Sun, Dec 12           vs NC State *  ...      Williams 9             NaN
12     Sat, Dec 18             vs Butler *  ...    Stefanovic 3             NaN
13     Mon, Dec 20       vs Incarnate Word  ...          Edey 4             NaN
14     Wed, Dec 29             vs Nicholls  ...      Williams 8             NaN
15      Mon, Jan 3         vs 23 Wisconsin  ...        Morton 4             NaN
16      Sat, Jan 8            @ Penn State  ...    Stefanovic 6             NaN
17     Tue, Jan 11              @ Michigan  ...       Postponed             NaN
18     Fri, Jan 14             vs Nebraska  ...          Ivey 5             NaN
19     Mon, Jan 17           @ 17 Illinois  ...      Williams 5             NaN
20     Thu, Jan 20               @ Indiana  ...          Edey 3             NaN
21     Sun, Jan 23         vs Northwestern  ...    Hunter Jr. 5             NaN
22     Thu, Jan 27                  @ Iowa  ...      Williams 5             NaN
23     Sun, Jan 30        vs 16 Ohio State  ...    Hunter Jr. 5             NaN
24      Wed, Feb 2             @ Minnesota  ...    Stefanovic 7             NaN
25      Sat, Feb 5             vs Michigan  ...          Ivey 7             NaN
26            DATE                OPPONENT  ...             NaN             NaN
27      Tue, Feb 8          vs 18 Illinois  ...             NaN             NaN
28     Thu, Feb 10              @ Michigan  ...             NaN             NaN
29     Sun, Feb 13             vs Maryland  ...             NaN             NaN
30     Wed, Feb 16          @ Northwestern  ...             NaN             NaN
31     Sun, Feb 20              vs Rutgers  ...             NaN             NaN
32     Sat, Feb 26     @ 13 Michigan State  ...             NaN             NaN
33      Tue, Mar 1          @ 11 Wisconsin  ...             NaN             NaN
34      Sat, Mar 5              vs Indiana  ...             NaN             NaN

[35 rows x 8 columns]