<a href="https://colab.research.google.com/github/fmathews11/College_Basketball_Functions/blob/main/PBP_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install kenpompy
!pip install mechanicalsoup
import mechanicalsoup,pandas as pd,numpy as np, warnings,seaborn as sns, matplotlib.pyplot as plt
from bs4 import BeautifulSoup
from kenpompy.utils import login
warnings.filterwarnings("ignore")

In [19]:
url = 'https://www.espn.com/mens-college-basketball/playbyplay?gameId='
game_id = 401364452
url = url + str(game_id)
browser = mechanicalsoup.StatefulBrowser()
browser.open(url)
raw_shotlist = str(browser.get_current_page()).split('homeaway')[1:]

In [32]:
away_shots = [i for i in raw_shotlist if i[2:6] == 'away']
home_shots = [i for i in raw_shotlist if i[2:6] == 'home']

In [92]:
final_dict = {key:[] for key in ('team','top','left','result')}
for idx,i in enumerate(away_shots):
  try:
    final_dict['left'].append(away_shots[idx].split('left')[1][1:6])
    final_dict['top'].append(away_shots[idx].split('top')[1][1:6])
    final_dict['result'].append(away_shots[idx].split('class')[2][2:8])
    final_dict['team'].append('away')
  except:
    continue
for idx,i in enumerate(home_shots):
  try:
    final_dict['left'].append(home_shots[idx].split('left')[1][1:6])
    final_dict['top'].append(home_shots[idx].split('top')[1][1:6])
    final_dict['result'].append(home_shots[idx].split('class')[2][2:8])
    final_dict['team'].append('home')
  except:
    continue
df = pd.DataFrame(final_dict)

In [96]:
df.top = df.top.replace("%","",regex=True)
df.left = df.left.replace("%","",regex=True)
df.result = df.result.map(str.strip)
df.result = df.result.replace('"',"",regex = True)
df = df[(df.result.str.contains('made'))|(df.result.str.contains('missed'))]

     team      top   left  result
0    away     36.0  5.555    made
1    away     48.0  7.777    made
2    away     82.0  26.66  missed
3    away     48.0  17.77  missed
4    away     94.0  3.333  missed
..    ...      ...    ...     ...
97   home     76.0  94.66    made
98   home     54.0  91.33  missed
99   home     54.0  91.33  missed
100  home     90.0  75.77    made
102  home  ;\n\tes  ><h3>   made>

[101 rows x 4 columns]

In [82]:
away_shots[55]

'="away" data-playerid="4433155"><a>Clifford Omoruyi</a></li><li data-'