<a href="https://colab.research.google.com/github/fmathews11/College_Basketball_Functions/blob/main/Pulling_Gameplan_From_Kenpom.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install kenpompy
!pip install mechanicalsoup
import mechanicalsoup,pandas as pd,numpy as np
from bs4 import BeautifulSoup
from kenpompy.utils import login

Collecting kenpompy
  Downloading kenpompy-0.3.1-py3-none-any.whl (25 kB)
Collecting mechanicalsoup
  Downloading MechanicalSoup-1.1.0-py3-none-any.whl (19 kB)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from kenpompy) (1.3.5)
Requirement already satisfied: bs4 in /usr/local/lib/python3.7/dist-packages (from kenpompy) (0.0.1)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (from bs4->kenpompy) (4.6.3)
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (from mechanicalsoup->kenpompy) (4.2.6)
Requirement already satisfied: requests>=2.22.0 in /usr/local/lib/python3.7/dist-packages (from mechanicalsoup->kenpompy) (2.23.0)
Collecting beautifulsoup4
  Downloading beautifulsoup4-4.10.0-py3-none-any.whl (97 kB)
     |████████████████████████████████| 97 kB 4.7 MB/s
Collecting soupsieve>1.2
  Downloading soupsieve-2.3.1-py3-none-any.whl (37 kB)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.22.0->mechanicalsoup->kenpompy) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.22.0->mechanicalsoup->kenpompy) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.22.0->mechanicalsoup->kenpompy) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.22.0->mechanicalsoup->kenpompy) (2021.10.8)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->kenpompy) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->kenpompy) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas->kenpompy) (1.19.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->kenpompy) (1.15.0)
Installing collected packages: soupsieve, beautifulsoup4, mechanicalsoup, kenpompy
  Attempting uninstall: beautifulsoup4
    Found existing installation: beautifulsoup4 4.6.3
    Uninstalling beautifulsoup4-4.6.3:
      Successfully uninstalled beautifulsoup4-4.6.3
Successfully installed beautifulsoup4-4.10.0 kenpompy-0.3.1 mechanicalsoup-1.1.0 soupsieve-2.3.1
Requirement already satisfied: mechanicalsoup in /usr/local/lib/python3.7/dist-packages (1.1.0)
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (from mechanicalsoup) (4.2.6)
Requirement already satisfied: requests>=2.22.0 in /usr/local/lib/python3.7/dist-packages (from mechanicalsoup) (2.23.0)
Requirement already satisfied: beautifulsoup4>=4.7 in /usr/local/lib/python3.7/dist-packages (from mechanicalsoup) (4.10.0)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.7/dist-packages (from beautifulsoup4>=4.7->mechanicalsoup) (2.3.1)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.22.0->mechanicalsoup) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.22.0->mechanicalsoup) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.22.0->mechanicalsoup) (2021.10.8)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.22.0->mechanicalsoup) (2.10)

In [2]:
browser = login()
url = 'https://kenpom.com/gameplan.php?team=Purdue'
browser.open(url)
raw_source = browser.get_current_page()
table = raw_source.find_all('table')
df = pd.read_html(str(table[0]))[0]
df_ = df.copy()

In [14]:
#Let's Clean it up
df = df_.copy()
df.columns = [i[0] +  "_" +i[1] for i in df.columns.tolist()]
df = df.drop([df.columns[i] for i in [1,7,12,14,18]],axis = 1)



#Column name cleaning
[i[:-2] for i in df.columns.tolist() if "." in i]
for i in df.columns:
  if "." in i:
    df = df.rename(columns = {i:i[:-2]})
for i in df.columns:
  if "Unnamed" in i:
    df = df.rename(columns = {i:i.split()[-1]})
for i in df.columns:
  if "level" in i:
   df = df.rename(columns = {i:i.split("_")[-1]})


#Remove Extra Junk From the end
cutoff_value = np.where(df.Date == "Correlations (R x 100)")[0][0]
df = df.iloc[:cutoff_value,:]

#Splitting the results column
result_vals = [i for i in df.Result.tolist()]
df.Result = [str(i[0]) for i in result_vals]
df['Score'] = [str(i.split(',')[-1]) for i in result_vals]

col_names = ['Date',
            'Opponent',
            'Result',
            'Location',
            'Pace',
            'Offense_Eff',
            'Offense_eFG%',
            'Offense_TO%',
            'Offense_OR%',
            'Offense_FTR',
            'Offense_2P%',
            'Offense_3P%',
            'Offense_3PA%',
            'Defense_Eff',
            'Defense_eFG%',
            'Defense_TO%',
            'Defense_OR%',
            'Defense_FTR',
            'Defense_2P%',
            'Defense_2P%',
            'Defense_3P%',
            'Defense_3P%',
            'Defense_3PA%',
            'Score']
df.columns = col_names
df

          Date        Opponent Result  ... Defense_3P% Defense_3PA%    Score
0    Tue Nov 9      Bellarmine      W  ...        34.3         59.3    96-67
1   Fri Nov 12     Indiana St.      W  ...        23.1         40.6    92-67
2   Tue Nov 16      Wright St.      W  ...        19.2         44.1    96-52
3   Sat Nov 20  North Carolina      W  ...        41.4         42.0    93-84
4   Sun Nov 21       Villanova      W  ...        38.2         58.6    80-74
5   Fri Nov 26  Nebraska Omaha      W  ...        17.9         44.4    97-40
6   Tue Nov 30     Florida St.      W  ...        33.3         38.1    93-65
7    Fri Dec 3            Iowa      W  ...        23.8         33.9    77-70
8    Thu Dec 9         Rutgers      L  ...        50.0         29.2    70-68
9   Sun Dec 12      N.C. State      W  ...        38.1         33.9    82-72
10  Sat Dec 18          Butler      W  ...        14.3         47.5    77-48
11  Mon Dec 20  Incarnate Word      W  ...        44.4         50.0    79-59
12  Wed Dec 29    Nicholls St.      W  ...        45.7         47.9   104-90
13   Mon Jan 3       Wisconsin      L  ...        25.0         40.0    74-69
14   Sat Jan 8        Penn St.      W  ...        36.4         40.0    74-67
15  Fri Jan 14        Nebraska      W  ...        42.1         33.3    92-65
16  Mon Jan 17        Illinois      W  ...        36.4         42.9    96-88
17  Thu Jan 20         Indiana      L  ...        30.0         35.7    68-65
18  Sun Jan 23    Northwestern      W  ...        34.6         52.0    80-60
19  Thu Jan 27            Iowa      W  ...        29.6         42.2    83-73
20  Sun Jan 30        Ohio St.      W  ...        31.0         46.0    81-78
21   Wed Feb 2       Minnesota      W  ...        50.0         37.9    88-73
22   Sat Feb 5        Michigan      W  ...        44.4         34.6    82-76
23   Tue Feb 8        Illinois      W  ...        30.8         44.8    84-68
24  Thu Feb 10        Michigan      L  ...        57.1         33.9    82-58

[25 rows x 24 columns]

In [18]:
target_df = df[['Opponent','Defense_Eff']]
target_df.rename(columns = {'Defense_Eff':"Raw_Offensive_Efficiency_Against_Purdue"})

          Opponent Raw_Offensive_Efficiency_Against_Purdue
0       Bellarmine                                   100.3
1      Indiana St.                                    91.9
2       Wright St.                                    69.5
3   North Carolina                                   109.7
4        Villanova                                   122.6
5   Nebraska Omaha                                    60.0
6      Florida St.                                    95.2
7             Iowa                                    92.1
8          Rutgers                                   106.8
9       N.C. State                                    96.0
10          Butler                                    82.5
11  Incarnate Word                                    92.5
12    Nicholls St.                                   123.2
13       Wisconsin                                   110.9
14        Penn St.                                   107.7
15        Nebraska                                    89.0
16        Illinois                                   103.9
17         Indiana                                   102.7
18    Northwestern                                    99.6
19            Iowa                                   109.8
20        Ohio St.                                   119.1
21       Minnesota                                   111.0
22        Michigan                                   117.2
23        Illinois                                   103.3
24        Michigan                                   132.3