In [1]:
from bs4 import BeautifulSoup
import numpy as np, seaborn as sns, matplotlib.pyplot as plt, warnings, time, requests, pandas as pd
warnings.filterwarnings("ignore")
from google.colab import output

In [2]:
ids = pd.read_csv('https://raw.githubusercontent.com/fmathews11/College_Basketball_Functions/main/ids.csv')
convert_dict = {'MIN':int,
               'OREB':int,
               'DREB':int,
               'REB':int,
               'AST':int,
               'STL':int,
               'BLK':int,
               'TO':int,
               'PF':int,
               'PTS':int,
               'FGM':int,
               'FGA':int,
               '3PM':int,
               '3PA':int,
               'FTM':int,
               'FTA':int}
col_order = ['Player',
                 'PTS',
                 'MIN',
                 'FGM',
                 'FGA',
                 '3PM',
                 '3PA',
                 'FTM',
                 'FTA',
                 'OREB',
                 'DREB',
                 'REB',
                 'AST',
                 'STL',
                 'BLK',
                 'TO',
                 'PF',
                 'Position']

def calculate_possessions(fga,orebs,tos,fta):
    value = (fga-orebs) + tos + (0.475*fta)
    return value

def clean_up_boxscore(df):
    df = df.iloc[:len(df)-2,]
    df['Position'] = [i[-1] for i in df.Starters]
    df = df.infer_objects()
    df.Starters = [i[:int((len(i)-1)/2)] for i in df.Starters]
    df['FGM'] = [i[0] for i in df.FG.str.split('-')]
    df['FGA'] = [i[1] for i in df.FG.str.split('-')]
    df['3PM'] = [i[0] for i in df['3PT'].str.split('-')]
    df['3PA'] = [i[1] for i in df['3PT'].str.split('-')]
    df['FTM'] = [i[0] for i in df.FT.str.split('-')]
    df['FTA'] = [i[1] for i in df.FT.str.split('-')]
    if type(df.MIN[0]) == str:
      df.MIN = 0
    df = df.astype(convert_dict)
    df = df.append(df.sum(numeric_only = True),ignore_index = True)
    last_row = len(df) - 1
    df = df.rename(columns = {"Starters":"Player"})
    df = df[col_order]
    df.iloc[last_row,0] = 'Team'
    df.iloc[last_row,17] = ""
    return df.astype(convert_dict)

def get_boxscores(game_id,disp = False):

  #Create the URL and pull in the HTML
  url = 'https://www.espn.com/mens-college-basketball/boxscore/_/gameId/'+str(game_id)
  r = requests.get(url)
  soup = BeautifulSoup(r.content,'lxml')

  #Isolate the home team, away team, and game date.  Away team is always first
  away_team = str(soup.find('title')).split('-')[0].replace("<title>","").strip().split(' vs. ')[0]
  home_team = str(soup.find('title')).split('-')[0].replace("<title>","").strip().split(' vs. ')[1]
  game_date = str(soup.find("title")).split("-")[2].strip()

  #Infer tables with Pandas
  dfs = pd.read_html(url)
  #Away team is always index value 1, home team is 2
  away_team_df = dfs[1]
  home_team_df = dfs[2]
  # Convert columns from tuples to strings
  if type(away_team_df.columns[0]) is tuple:
    away_team_df.columns = [i[0] for i in away_team_df.columns.tolist()]
  if type(home_team_df.columns[0]) is tuple:
    home_team_df.columns = [i[0] for i in home_team_df.columns.tolist()]

  #Clean the dataframes
  away_team_df = clean_up_boxscore(away_team_df)
  home_team_df = clean_up_boxscore(home_team_df)
  #Create outer index
  away_team_df = pd.concat({away_team:away_team_df})
  home_team_df = pd.concat({home_team:home_team_df})

  if disp:
    display(away_team_df,home_team_df)
  else:
    return away_team_df,home_team_df

def get_agg_boxscore(game_id,disp = True):
    df_away,df_home = get_boxscores(game_id)
    away_team = df_away.index[0][0]
    home_team = df_home.index[0][0]
    last_row = len(df_away)
    df_away = df_away.iloc[last_row-1:]
    df_away = df_away[["PTS",
          "FGM",
          "FGA",
          "3PM",
          "3PA",
          "FTM",
          "FTA",
          "OREB",
          "DREB",
          "TO"]].reset_index().drop('level_1',1).rename(columns = {'level_0':'Team'}).set_index("Team")

    last_row = len(df_home)
    df_home = df_home.iloc[last_row-1:]
    df_home = df_home[["PTS",
          "FGM",
          "FGA",
          "3PM",
          "3PA",
          "FTM",
          "FTA",
          "OREB",
          "DREB",
          "TO"]].reset_index().drop('level_1',1).rename(columns = {'level_0':'Team'}).set_index("Team")
    away_team_dreb = df_away.DREB.item()
    home_team_dreb = df_home.DREB.item()
    df_home['OR%'] = 0
    df_away['OR%'] = 0
    if df_home.OREB.item() >0:
      df_home['OR%'] = round(df_home.OREB.item()/(df_home.OREB.item() + away_team_dreb),2)
    if df_away.OREB.item() >0:
      df_away['OR%'] = round(df_away.OREB.item()/(df_away.OREB.item() + home_team_dreb),2)
    final_df = pd.concat([df_away,df_home])

    final_df['POS'] = final_df.apply(lambda x: calculate_possessions(x.FGA,x.OREB,x.TO,x.FTA),axis = 1).astype(float)
    final_df['PTS_POS'] = round(final_df.PTS / final_df.POS,2)
    final_df['3PT%'] = round(final_df['3PM'] / final_df['3PA'],2)
    final_df['FG%'] = round(final_df.FGM/final_df.FGA,2)
    final_df["TS%"] = round(100*final_df.PTS/(2*(final_df.FGA + 0.475*final_df.FTA)),2)
    final_df['TO%'] = round(100*(final_df.TO/final_df.POS),2)
    final_df['POS'] = np.floor(final_df.POS).astype(int)
    type_dict = {'PTS':int,
                  'FGM':int,
                  'FGM':int,
                '3PM':int,
                '3PA':int,
                'FTM':int,
                'FTA':int,
                'OREB':int,
                'DREB':int,
                'TO':int,
                'POS':int}
    col_order = ['PTS',
                'FGM',
                'FGA',
                '3PM',
                '3PA',
                'FTM',
                'FTA',
                'OREB',
                'DREB',
                'TO',
                'POS',
                'PTS_POS',
                '3PT%',
                'FG%',
                'OR%',
                'TS%',
                'TO%']
    final_df = final_df[col_order]
    if disp:
      display(final_df.rename_axis("").astype(object).transpose())

    return final_df.astype(type_dict)

In [20]:
test_df = None
last_reported_time = 0

In [47]:
def plot_game_trends(test_df,half = 1,color1 = 'black',color2 = 'red'):
  melted = test_df.reset_index()
  for i in melted.columns.tolist()[:16]:
    plt.figure(figsize = (14,8))
    sns.lineplot(data = melted[melted.Half ==half].iloc[1:,:],
                x = 'Timestamp',
                y = i,
                hue = 'Team',
                palette = [color2,color1])
    plt.title(f"{melted.Team.tolist()[0]} vs {melted.Team.tolist()[1]}: {i.replace('_',' ')}")
    plt.ylabel(i.replace('_',' '))
    plt.xlabel('Time Remaining, 2nd Half')
    if half == 1:
      plt.xlabel('Time Remaining, 1st Half')
    plt.show();

In [5]:
def append_real_time_data(game_id,stats_df,disp = False):
  if disp:
    temp_df = get_agg_boxscore(401364432,disp = True)
  else:
    temp_df = get_agg_boxscore(401364432,disp = False)
  return pd.concat([stats_df,temp_df])
test_df = append_real_time_data(401364432,test_df)

In [6]:
def get_game_timestamp_half(game_id):
  """
  Returns a tuple:
    [0]: The current timestamp of the half currently being played
    [1]: Which half is currently being played
  """
  url = "https://www.espn.com/mens-college-basketball/playbyplay/_/gameId/"
  url = url + str(game_id)

  half = 2
  all_dfs = pd.read_html(url)
  if np.isnan(all_dfs[0].iloc[0,2]):
    half = 1
  
  target_df = df = pd.read_html(url)[1]
  current_time = df.iloc[0,0]
  return current_time,half
get_game_timestamp_half(401364432)

('20:00', 2)

In [23]:
def scrape_game_stats_real_time(game_id,max_retries = 12,glob = True):
  last_reported_timestamp = 0
  retry_iter = 0
  limbo_df = pd.DataFrame()

  if glob:
    global test_df
    while True:
      try:
        timestamp,half = get_game_timestamp_half(game_id)
      except:
        raise Exception("Game hasn't started")
        break
      if timestamp != last_reported_timestamp:
        last_reported_timestamp = timestamp
        output.clear()
        temp_df = get_agg_boxscore(game_id = game_id,disp = True)
        temp_df['Half'] = half
        temp_df['Timestamp'] = timestamp
        test_df = pd.concat([test_df,temp_df])
        test_df.to_csv("test_df.csv")
        get_boxscores(game_id,disp = True)
        retry_iter = 0
        time.sleep(np.random.randint(10,20))
      else:
        print(f"Retry number {retry_iter} of {max_retries}")
        time.sleep(np.random.randint(10,20))
        retry_iter +=1
        if retry_iter == max_retries:
          break
      
  
  else:
    while True:
      try:
        timestamp,half = get_game_timestamp_half(game_id)
      except:
        raise Exception("Game hasn't started")
        break
      if timestamp != last_reported_timestamp:
        last_reported_timestamp = timestamp
        output.clear()
        temp_df = get_agg_boxscore(game_id = game_id,disp = True)
        temp_df['Half'] = half
        temp_df['Timestamp'] = timestamp
        limbo_df = pd.concat([limbo_df,temp_df])
        limbo_df.to_csv("limbo_df.csv")
        get_boxscores(game_id,disp = True)
        time.sleep(np.random.randint(10,20))
      else:
        print(f"Retry number {retry_iter} of {max_retries}")
        time.sleep(np.random.randint(10,20))
        retry_iter +=1
        if retry_iter == max_retries:
          break
    return limbo_df

In [43]:
#test_df = pd.DataFrame()
scrape_game_stats_real_time(401364452)
test_df

        Rutgers Purdue
PTS          72     84
FGM          27     26
FGA          53     49
3PM           5      8
3PA          15     22
FTM          13     24
FTA          17     29
OREB          6      5
DREB         16     19
TO           10      7
POS          65     64
PTS_POS    1.11    1.3
3PT%       0.33   0.36
FG%        0.51   0.53
OR%        0.24   0.24
TS%       58.94  66.91
TO%       15.37  10.81

                  Player  PTS  MIN  FGM  FGA  ...  STL  BLK  TO  PF  Position
Rutgers 0  R. Harper Jr.   12    0    4    9  ...    0    0   0   2         F
        1     C. Omoruyi   14    0    4   10  ...    0    0   2   3         C
        2     P. Mulcahy   15    0    6    8  ...    0    0   3   5         G
        3   C. McConnell    2    0    1    3  ...    3    0   0   5         G
        4       G. Baker   11    0    5   13  ...    1    0   2   3         G
        5         M. Mag    6    0    3    4  ...    0    0   2   3         F
        6      D. Reiber    8    0    3    3  ...    0    0   1   2         F
        7       A. Hyatt    4    0    1    3  ...    0    0   0   0         F
        8      J. Miller    0    0    0    0  ...    0    0   0   1         G
        9           Team   72    0   27   53  ...    4    0  10  24

[10 rows x 18 columns]

                 Player  PTS  MIN  FGM  FGA  ...  STL  BLK  TO  PF  Position
Purdue 0      M. Gillis   10    0    4    7  ...    0    0   0   2         F
       1        Z. Edey   15    0    5    6  ...    0    2   0   2         C
       2        J. Ivey   25    0    5   11  ...    0    0   3   3         G
       3  E. Hunter Jr.    7    0    2    7  ...    0    0   0   2         G
       4  S. Stefanovic   11    0    3    7  ...    1    0   1   3         G
       5       C. Furst    2    0    1    1  ...    0    0   1   1         F
       6    T. Williams   11    0    5    8  ...    0    0   2   2         F
       7      E. Morton    0    0    0    1  ...    1    0   0   0         G
       8    I. Thompson    3    0    1    1  ...    0    0   0   1         G
       9           Team   84    0   26   49  ...    2    2   7  16

[10 rows x 18 columns]

Retry number 0 of 12
Retry number 1 of 12
Retry number 2 of 12
Retry number 3 of 12
Retry number 4 of 12
Retry number 5 of 12
Retry number 6 of 12
Retry number 7 of 12
Retry number 8 of 12
Retry number 9 of 12
Retry number 10 of 12
Retry number 11 of 12

         PTS  FGM  FGA  3PM  3PA  ...   OR%     TS%    TO%  Half  Timestamp
Team                              ...
Rutgers    0    0    1    0    0  ...  0.00    0.00   0.00     1      19:38
Purdue     2    1    1    0    0  ...  0.00  100.00   0.00     1      19:38
Rutgers    2    1    2    0    0  ...  0.00   50.00   0.00     1      19:23
Purdue     2    1    1    0    0  ...  0.00   67.80   0.00     1      19:23
Rutgers    2    1    2    0    0  ...  0.00   50.00   0.00     1      19:02
...      ...  ...  ...  ...  ...  ...   ...     ...    ...   ...        ...
Purdue    80   25   48    8   22  ...  0.25   65.76  11.14     2       1:03
Rutgers   72   27   51    5   15  ...  0.22   60.94  15.61     2       0:57
Purdue    82   25   48    8   22  ...  0.24   66.37  10.98     2       0:57
Rutgers   72   27   53    5   15  ...  0.24   58.94  15.37     2      20:00
Purdue    84   26   49    8   22  ...  0.24   66.91  10.81     2      20:00

[256 rows x 19 columns]